extends layouts/default

block script
	script(type='text/javascript', src='/js/index.js')

block information
	div.ui.column.grid
		div.ui.four.wide.column
		div.seven.wide.column

			div.ui.fluid.form.inverted
				h3.ui.header Sign In
				div.field
					label Username
					input(type='text', placeholder='Username')
				div.field
					label Password
					input(type='password')

				div.ui.blue.submit.button Sign In
