extends layouts/default

block script
	script(type='text/javascript', src='/views/signin.js')

block information
	div.ui.column.grid
		div.ui.four.wide.column
		div.seven.wide.column

			div.ui.fluid.form.inverted
				h1.ui.header Sign In

				div.field
					label Username
					input#signin_username(type='text', placeholder='Username')
				div.field
					label Password
					input#signin_password(type='password')

				div.ui.blue.submit.button#signin_submit_btn Sign In
