{
	"service_name": "Fulfill Web Service",
	"port": 50714,
	"secret_key": "FUlFIlLWeBsErViCE1985y1115X1986Y0714MaNDICECoOL",
	"owner": {
		"name": "Fulfill, Inc."
	},
	"mailer": {
		"protocol": "smtp",
		"host": "smtp.gmail.com",
		"port": 465,
		"ssl": true,
		"auth": {
			"user": "youruser@gmail.com",
			"password": "yourpassword"
		}
	}
}
