{
	"service_name": "Fulfill Web Service",
	"server_host": "localhost",
	"port": 50714,
	"secret_key": "FUlFIlLWeBsErViCE1985y1115X1986Y0714MaNDICECoOL",
	"owner": {
		"name": "Fulfill, Inc."
	},
	"admin": {
		"password": "3enDu9j5",
		"disabled": false
	},
	"mailer": {
		"type": "smtp",
		"host": "smtp.gmail.com",
		"port": 465,
		"ssl": true,
		"auth": {
			"user": "youruser@gmail.com",
			"password": "yourpassword"
		},
		"from": {
			"name": "Fill Web Service",
			"address": "youruser@gmail.com"
		}
	},
	"database": {
		"type": "mongodb",
		"host": "localhost",
		"port": 27017,
		"dbName": "fulfill"
	}
}
